* {
  color: rgb(226, 226, 226);
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(22, 7, 160, 0.5);
  background-image: linear-gradient(rgba(55, 55, 197, 0.5), rgba(55, 55, 197, 0.5)), url('./survey-form-background.jpeg');
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 60%;
  min-width: 500px;
}

.title_intro {
  margin-top: 30px;
  text-align: center;
}

.title_intro h1 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: -5px;
}

.title_intro h3 {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 200;
}

form {
  background-color: rgba(10, 10, 53, 0.8);
  padding: 20px;
}

label {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}

select,
option {
  color: black;
}

input,
select {
  padding: 10px;
  border-radius: 5px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 95%;
  padding: 10px;
  color: white;
  background-color: rgb(31, 163, 31);
  border: none;
  font-size: 1rem;
}
